<p id="notice"><%= notice %></p>

<p>
  <strong>Value cal:</strong>
  <%= @qualification.value_cal %>
</p>

<p>
  <strong>Date cal:</strong>
  <%= @qualification.date_cal %>
</p>

<p>
  <strong>User:</strong>
  <%= @qualification.user %>
</p>

<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
