<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @domain.company %>
</p>

<p>
  <strong>Name domain:</strong>
  <%= @domain.name_domain %>
</p>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
